<div class="custom-login-page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="login-main-area">
                    <div class="header-area">
                        <h1>Login</h1>
                        <h3>Enter your credential</h3>
                    </div>
                    <mat-form-field>
                        <input matInput type="text" placeholder="User name or email" autocomplete="false">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="password" autocomplete="false">
                    </mat-form-field>
                    <div class="action-button-wrapper">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:;" class="forgot-passowrd">Forgot password?</a>
                            </div>
                            <div class="col-6">
                                <div class="float-right"><button mat-raised-button color="primary">Login</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="login-with">
                        <div class="rule">
                            Login With
                        </div>
                        <div class="login-with-action-button-wrapper">
                            <button mat-raised-button>Login with google</button>
                            <button mat-raised-button>Login with Facebook</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>